<style>.span{display: inline-block;width: 20px;height: 20px;font-size: 14px;line-height: 20px;text-align: center;}
</style>
.copyright
    - var hexoURL = "https://hexo.io/";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.url)!= config.author], powered by #[a(href=hexoURL, target="_blank") Hexo] and #[a(href=apolloURL, target="_blank") hexo-theme-apollo].<br/><span class="span" style="background-color:#FF33FF;color:#fff">遇</span><span class="span" style="background-color:#FF3366;color:#fff">见</span><span class="span" style="background-color:#FF5433;color:#fff">更</span><span class="span" style="background-color:#FF9533;color:#fff">好</span><span class="span" style="background-color:#FFE733;color:#fff">的</span><span class="span" style="background-color:#79E22D;color:#fff">自</span><span class="span" style="background-color:#2B94D6;color:#fff">己</span><span class="span" style="background-color:#6A2BD6;color:#fff">❤</span>